@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #20000F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='550' height='550' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233E1C2D' stroke-width='1.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%234C2A3B'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");}

.jumbotron-formato{
    background: #4f2b38;
    background: linear-gradient(70deg, #4f2b38 0%, rgba(0,212,255,0) 100%);
    color: white;
}
.imagen{
    padding-left: 30px;
}
.texto{
    font-weight: bold;
    text-align: center;
    font-family:'Special Elite', cursive;
}
#talleres{
    color: white;
    padding-top: 2rem;
    margin:3rem;
    font-family:'Special Elite', cursive;
    font-weight: bold;
}
.contenedor-catalogos{
    display: grid;
    text-align: center;
    text-align: justify;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'ipa stout lager'
}

.card{
    background: white;
    text-align: center;
    padding: 10px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 2px 3px 15px 5px rgba(0,0,0,0.1);
    gap: 10px; 
    min-width: 330px;
    max-width: 360px;

}

.card ul{
    list-style: none;
}
#catalogos{
    background:#1d1016;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    margin-right:0;
    margin-left: 0; 
    padding-left: 0;
    padding-right: 0;
    color: white;
    font-weight: bold;
}

.grid-container{
        display: grid;
        grid-template-areas: 'jumbotron image';
        padding-top: 5rem;
        padding-bottom:0;
        row-gap: 3rem;
    }
    
.grid-container div{
        color:white;
        text-align: center;
        padding: 20px;
        font-size: 30;
    }
.item1{
    grid-area: jumbotron;
}
.item2{
    grid-area: image;
}
.ipa{
    grid-area:ipa
}
.stout{
    grid-area: stout;
}
.lager{
    grid-area: lager;
}

footer{
    background-color: #1d1016 ;
    color: white;
    list-style: none;
}
footer div div ul{
    line-height: 50px;
    list-style: none;
    text-align: justify;
    padding-left: 5rem;   
}
footer div div h2{
    margin-top: 40px;
    text-align: justify;
    padding-left: 3rem;
}

@media screen and (max-width:992px){   
    .grid-container{
        grid-template-areas: 
        'jumbotron'
        'image';
    }
}
@media screen and (max-width:1150px){   
    .contenedor-catalogos{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        'ipa stout'
        'lager'
    }
}
@media screen and (max-width:992px){
    .card{
        max-width: 330px;
    }
}

